// app global css
#bagCont {
    padding-left: 15px;
    padding-right: 15px;
    }

    #bagsWrapper {
        background-color:  #ffffffb0;
        }

#helloImg {
    margin-top: -10%;
    height: 60%;
    width: 60%;
    }
    #helloTxt {
        color: #26A69A;
        }

.bagAmountTxt {
    color: white;
    margin-left: 25%;
    font-size: 20px;
    }

      #BagsList {
        padding-top: -25%;
    }

  